name: CREATE_PANEL_GRATIS
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Eksekusi Panel & Tunneling
        run: |
          sudo apt update && sudo apt install -y curl
          # Mengaktifkan Akses Publik via Cloudflare (Tunnel)
          curl -L --output cloudflared.deb https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared.deb
          
          echo "------------------------------------------------"
          echo "☬ MENGHUBUNGKAN SINGGASANA KE CLOUD... ☬"
          echo "------------------------------------------------"
          
          # Perintah ini akan membuka akses panel Tuan ke internet
          sudo cloudflared tunnel --url http://localhost:80
